
<div class="container">

<div class="page-header">
    <h1>Add Location</h1>
</div>

<!-- Collapsible Panels - START -->
 <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>


    <div class="row">
		<div class="col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Panel 1</h3>
					<span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
				</div>
				<div class="panel-body">
                   

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myParkingLocationLabel" translate="parkswiftApp.parkingLocation.home.createOrEditLabel">Create or edit a ParkingLocation</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="parkingLocation.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="parkswiftApp.parkingLocation.bussinessType">BussinessType</label>
                            <input type="text" class="form-control" name="bussinessType"
                                   ng-model="parkingLocation.bussinessType" required>

                            <div ng-show="editForm.bussinessType.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.bussinessType.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="parkswiftApp.parkingLocation.addressLine1">AddressLine1</label>
                            <input type="text" class="form-control" name="addressLine1"
                                   ng-model="parkingLocation.addressLine1" required>

                            <div ng-show="editForm.addressLine1.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.addressLine1.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="parkswiftApp.parkingLocation.addressLine2">AddressLine2</label>
                            <input type="text" class="form-control" name="addressLine2"
                                   ng-model="parkingLocation.addressLine2">

                        </div>
                        <div class="form-group">
                            <label translate="parkswiftApp.parkingLocation.city">City</label>
                            <input type="text" class="form-control" name="city"
                                   ng-model="parkingLocation.city" required>

                            <div ng-show="editForm.city.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.city.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="parkswiftApp.parkingLocation.state">State</label>
                            <input type="text" class="form-control" name="state"
                                   ng-model="parkingLocation.state">

                        </div>
                        <div class="form-group">
                            <label translate="parkswiftApp.parkingLocation.country">Country</label>
                            <input type="text" class="form-control" name="country"
                                   ng-model="parkingLocation.country" required>

                            <div ng-show="editForm.country.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.country.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="parkswiftApp.parkingLocation.zipCode">ZipCode</label>
                            <input type="text" class="form-control" name="zipCode"
                                   ng-model="parkingLocation.zipCode" required>

                            <div ng-show="editForm.zipCode.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.zipCode.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="parkswiftApp.parkingLocation.longitude">Longitude</label>
                            <input type="number" class="form-control" name="longitude"
                                   ng-model="parkingLocation.longitude" required>

                            <div ng-show="editForm.longitude.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.longitude.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.longitude.$error.number" translate="entity.validation.number">
                                    This field should be a number.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="parkswiftApp.parkingLocation.lattitude">Lattitude</label>
                            <input type="number" class="form-control" name="lattitude"
                                   ng-model="parkingLocation.lattitude" required>

                            <div ng-show="editForm.lattitude.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.lattitude.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.lattitude.$error.number" translate="entity.validation.number">
                                    This field should be a number.
                                </p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label translate="parkswiftApp.parkingLocation.paypallAccount">paypallAccount</label>
                            <select class="form-control" name="paypallAccount" ng-model="parkingLocation.paypallAccount.id" ng-options="paypallAccount.id as paypallAccount.email for paypallAccount in paypallaccounts">
                            </select>
                        </div>
                        <div class="form-group">
                            <label translate="parkswiftApp.parkingLocation.user">user</label>
                            <select class="form-control" name="user" ng-model="parkingLocation.user.id" ng-options="user.id as user.login for user in users">
                            </select>
                        </div>
                    </div>
                  
				</div>
			</div>
		</div>
		</div>
		<div class="row">
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Contact Info</h3>
					<span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
				</div>
				<div class="panel-body">
                    LexisNexis Corporate Affiliations<br />
                    121 Chanlon Road,<br /> 
                    South Building – First Floor,<br />
                    New Providence, NJ 07974<br />
                    phone: 800.340.3244
				</div>
		    </div>
	    </div>
	</div>
	
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Services/Amenities</h3>
					<span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
				</div>
				<div class="panel-body">
                    LexisNexis Corporate Affiliations<br />
                    121 Chanlon Road,<br /> 
                    South Building – First Floor,<br />
                    New Providence, NJ 07974<br />
                    phone: 800.340.3244
				</div>
		    </div>
	    </div>
	</div>
	<div class="row">
	  <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                    </div>
                </form>
</div>

<style>
.panel-heading span {
    margin-top: -20px;
    font-size: 15px;
}
.row {
    margin-top: 1px;
    padding: 0 10px;
}
.clickable {
    cursor: pointer;
}    
</style>

<script type="text/javascript">
    jQuery(function ($) {
        $('.panel-heading span.clickable').on("click", function (e) {
            if ($(this).hasClass('panel-collapsed')) {
                // expand the panel
                $(this).parents('.panel').find('.panel-body').slideDown();
                $(this).removeClass('panel-collapsed');
                $(this).find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
            }
            else {
                // collapse the panel
                $(this).parents('.panel').find('.panel-body').slideUp();
                $(this).addClass('panel-collapsed');
                $(this).find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
            }
        });
    });
</script>

<!-- Collapsible Panels - END -->

</div>





<!-- <div>

    <h2 translate="parkswiftApp.parkingLocation.home.title">ParkingLocations</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" data-toggle="modal" data-target="#saveParkingLocationModal" ng-click="clear()">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="parkswiftApp.parkingLocation.home.createLabel">Create a new ParkingLocation</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="saveParkingLocationModal" tabindex="-1" role="dialog" aria-labelledby="myParkingLocationLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myParkingLocationLabel" translate="parkswiftApp.parkingLocation.home.createOrEditLabel">Create or edit a ParkingLocation</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="parkingLocation.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="parkswiftApp.parkingLocation.bussinessType">BussinessType</label>
                            <input type="text" class="form-control" name="bussinessType"
                                   ng-model="parkingLocation.bussinessType" required>

                            <div ng-show="editForm.bussinessType.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.bussinessType.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="parkswiftApp.parkingLocation.addressLine1">AddressLine1</label>
                            <input type="text" class="form-control" name="addressLine1"
                                   ng-model="parkingLocation.addressLine1" required>

                            <div ng-show="editForm.addressLine1.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.addressLine1.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="parkswiftApp.parkingLocation.addressLine2">AddressLine2</label>
                            <input type="text" class="form-control" name="addressLine2"
                                   ng-model="parkingLocation.addressLine2">

                        </div>
                        <div class="form-group">
                            <label translate="parkswiftApp.parkingLocation.city">City</label>
                            <input type="text" class="form-control" name="city"
                                   ng-model="parkingLocation.city" required>

                            <div ng-show="editForm.city.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.city.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="parkswiftApp.parkingLocation.state">State</label>
                            <input type="text" class="form-control" name="state"
                                   ng-model="parkingLocation.state">

                        </div>
                        <div class="form-group">
                            <label translate="parkswiftApp.parkingLocation.country">Country</label>
                            <input type="text" class="form-control" name="country"
                                   ng-model="parkingLocation.country" required>

                            <div ng-show="editForm.country.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.country.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="parkswiftApp.parkingLocation.zipCode">ZipCode</label>
                            <input type="text" class="form-control" name="zipCode"
                                   ng-model="parkingLocation.zipCode" required>

                            <div ng-show="editForm.zipCode.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.zipCode.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="parkswiftApp.parkingLocation.longitude">Longitude</label>
                            <input type="number" class="form-control" name="longitude"
                                   ng-model="parkingLocation.longitude" required>

                            <div ng-show="editForm.longitude.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.longitude.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.longitude.$error.number" translate="entity.validation.number">
                                    This field should be a number.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="parkswiftApp.parkingLocation.lattitude">Lattitude</label>
                            <input type="number" class="form-control" name="lattitude"
                                   ng-model="parkingLocation.lattitude" required>

                            <div ng-show="editForm.lattitude.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.lattitude.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.lattitude.$error.number" translate="entity.validation.number">
                                    This field should be a number.
                                </p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label translate="parkswiftApp.parkingLocation.paypallAccount">paypallAccount</label>
                            <select class="form-control" name="paypallAccount" ng-model="parkingLocation.paypallAccount.id" ng-options="paypallAccount.id as paypallAccount.email for paypallAccount in paypallaccounts">
                            </select>
                        </div>
                        <div class="form-group">
                            <label translate="parkswiftApp.parkingLocation.user">user</label>
                            <select class="form-control" name="user" ng-model="parkingLocation.user.id" ng-options="user.id as user.login for user in users">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteParkingLocationConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(parkingLocation.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="parkswiftApp.parkingLocation.delete.question" translate-values="{id: '{{parkingLocation.id}}'}">Are you sure you want to delete this ParkingLocation?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="parkswiftApp.parkingLocation.bussinessType">BussinessType</th>
                    <th translate="parkswiftApp.parkingLocation.addressLine1">AddressLine1</th>
                    <th translate="parkswiftApp.parkingLocation.addressLine2">AddressLine2</th>
                    <th translate="parkswiftApp.parkingLocation.city">City</th>
                    <th translate="parkswiftApp.parkingLocation.state">State</th>
                    <th translate="parkswiftApp.parkingLocation.country">Country</th>
                    <th translate="parkswiftApp.parkingLocation.zipCode">ZipCode</th>
                    <th translate="parkswiftApp.parkingLocation.longitude">Longitude</th>
                    <th translate="parkswiftApp.parkingLocation.lattitude">Lattitude</th>
                    <th translate="parkswiftApp.parkingLocation.paypallAccount">paypallAccount</th>
                    <th translate="parkswiftApp.parkingLocation.user">user</th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
                <tr ng-repeat="parkingLocation in parkingLocations">
                    <td><a ui-sref="parkingLocationDetail({id:parkingLocation.id})">{{parkingLocation.id}}</a></td>
                    <td>{{parkingLocation.bussinessType}}</td>
                    <td>{{parkingLocation.addressLine1}}</td>
                    <td>{{parkingLocation.addressLine2}}</td>
                    <td>{{parkingLocation.city}}</td>
                    <td>{{parkingLocation.state}}</td>
                    <td>{{parkingLocation.country}}</td>
                    <td>{{parkingLocation.zipCode}}</td>
                    <td>{{parkingLocation.longitude}}</td>
                    <td>{{parkingLocation.lattitude}}</td>
                    <td>{{parkingLocation.paypallAccount.email}}</td>
                    <td>{{parkingLocation.user.login}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="parkingLocationDetail({id:parkingLocation.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="showUpdate(parkingLocation.id)"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(parkingLocation.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
 -->