<div>

    <h2 translate="parkswiftApp.availableParkingRepeatOn.home.title">AvailableParkingRepeatOns</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" data-toggle="modal" data-target="#saveAvailableParkingRepeatOnModal" ng-click="clear()">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="parkswiftApp.availableParkingRepeatOn.home.createLabel">Create a new AvailableParkingRepeatOn</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="saveAvailableParkingRepeatOnModal" tabindex="-1" role="dialog" aria-labelledby="myAvailableParkingRepeatOnLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="save()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myAvailableParkingRepeatOnLabel" translate="parkswiftApp.availableParkingRepeatOn.home.createOrEditLabel">Create or edit a AvailableParkingRepeatOn</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="availableParkingRepeatOn.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="parkswiftApp.availableParkingRepeatOn.dayOfMonth">DayOfMonth</label>
                            <input type="number" class="form-control" name="dayOfMonth"
                                   ng-model="availableParkingRepeatOn.dayOfMonth">

                        </div>
                        <div class="form-group">
                            <label translate="parkswiftApp.availableParkingRepeatOn.dateOfWeek">DateOfWeek</label>
                            <input type="text" class="form-control" name="dateOfWeek"
                                   ng-model="availableParkingRepeatOn.dateOfWeek">

                        </div>

                        <div class="form-group">
                            <label translate="parkswiftApp.availableParkingRepeatOn.availableParking">availableParking</label>
                            <select class="form-control" name="availableParking" ng-model="availableParkingRepeatOn.availableParking.id" ng-options="availableParking.id as availableParking.description for availableParking in availableparkings">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteAvailableParkingRepeatOnConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(availableParkingRepeatOn.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="parkswiftApp.availableParkingRepeatOn.delete.question" translate-values="{id: '{{availableParkingRepeatOn.id}}'}">Are you sure you want to delete this AvailableParkingRepeatOn?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="parkswiftApp.availableParkingRepeatOn.dayOfMonth">DayOfMonth</th>
                    <th translate="parkswiftApp.availableParkingRepeatOn.dateOfWeek">DateOfWeek</th>
                    <th translate="parkswiftApp.availableParkingRepeatOn.availableParking">availableParking</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="availableParkingRepeatOn in availableParkingRepeatOns">
                    <td><a ui-sref="availableParkingRepeatOnDetail({id:availableParkingRepeatOn.id})">{{availableParkingRepeatOn.id}}</a></td>
                    <td>{{availableParkingRepeatOn.dayOfMonth}}</td>
                    <td>{{availableParkingRepeatOn.dateOfWeek}}</td>
                    <td>{{availableParkingRepeatOn.availableParking.description}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="availableParkingRepeatOnDetail({id:availableParkingRepeatOn.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="showUpdate(availableParkingRepeatOn.id)"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(availableParkingRepeatOn.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
